@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Cormorant+Garamond:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    font-size: 20px;
}

html, body {
    height: 100%;
    width: 100%;
}

header, footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/ChatGPT Image 5 janv. 2026, 20_04_30.png");
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
    padding: 5px 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    width: 100%;
}

header h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: clamp(3rem, 6vw, 5rem);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
    padding-top: 30px;
}

header h3 {
    font-size: clamp(1.6rem, 2.4vw, 2rem);
    color: rgba(255, 255, 255, 0.95);
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    margin-top: 00px;
    margin-bottom: 20px;
}

body {
    background-image: url("Images/ChatGPT Image 5 janv. 2026, 19_41_56.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

.texteNumerologie {
    font-size: 1.2rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    text-align: justify;
    font-weight: 700;
}

.container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url("Images/ChatGPT Image 5 janv. 2026, 20_04_30.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 1100px;
    margin: 30px auto ;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #301059;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    font-weight: 800;
    text-align: justify;
}

.choixMethode {
    font-size: 1.2rem;
    background: url("Images/ChatGPT Image 5 janv. 2026, 20_04_30.png");
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="date"], select {
    padding: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    color: #301059;
}

#submitBtn {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
    font-family: 'Cinzel Decorative', serif;
    font-weight: 400;
    margin-bottom: 30px;
}

footer {
    background-position: bottom;
}
footer p {
    max-width: 800px;
    text-align: center;
    margin: 10px auto;
}

#submitBtn:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
}

strong {
    font-size: 1.5rem;
}

em {
    font-style: normal;
    font-family : 'Poppins', serif;
}

.has-tooltip {
    position: relative;
    cursor: help;
}

.has-tooltip:hover::after,
.has-tooltip:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px 12px;
    border-radius: 15px;
    white-space: normal;
    z-index: 10;
    font-size: 1rem;
    width: 20em;
    text-align: justify;
}